{% extends "base.html" %}

{% block title %}Dualar ve Zikirler - İslamiyetin Nurları{% endblock %}

{% block extra_css %}

<style>
    h1
    {
     color: #1c1c1c;
        text-align:center;
        font-size:25px;
        top:20px;

    }
    h1:hover{
        color: #4a938d;
       
    }

      .ortaa{
            position: relative;
    height: auto;
    min-height: 590px;
    width: 80%;
    max-width: 900px;
    margin: 220px auto 60px auto; /* Üst boşluk 220px yapılarak navbar'ın altından başlatıldı */
    text-align: left;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-sizing: border-box;
        }

        .ortaa p{
            font-size:17px;

            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color:black;
            text-align:left;
            margin-left:20px;
            margin-right:20px;
            margin-top:30px;

        }
        
    


    body
    {
    background-color:rgb(203, 203, 203);
    margin: 0;
    padding:0;
    min-height: 150vh;
    }


    
     
   
        
         
</style>
{% endblock %}

{% block content %}
<body> 
    

    <div class="ortaa"> 
    <h1>- Hakkımızda -</h1>


        <p>Web sitemiz hakkında bilgiler <br> <br> Bu sitenin amacı islamiyeti tanıtmak ,daha yaygın hale getirmek ve olabildiğince fazla insana ulaşmasına katkıda bulunmaktır.Her türlü bilgiye erişmenin bu kadar kolay olduğu bir devirde insan ,ruhunun da beslenmesi ve belli olgunluk seviyelerine ulaşabilmek adına attığımız bu adıma eşlik edip destek olabilirsiniz. <br ><br> İstiyoruz ki henüz İslam ile tanışmamış kişilerin önüne çıkabilmek ve onların kalbini ısındırabilmek ,müslüman bireylerin ilmi kaynaklara kolay ulaşabilmesini sağlayarak bilgi düzeylerini artırmak ve yaşayışlarını kaliteli hale getirmektir.  </p>
        

    </div>

</body>

</html>

{% endblock %}

